$default-bg: #FFFFFF;
$default-border: #E0E0E0;
$default-input-color: #BDBDBD;
$default-input-color-active: #4F4F4F;
$default-color-brand: #7650C3;
$default-color-brand-second: #EB4CA8;
$default-text-color: #828282;
