@import 'colors';

/*
    TIPOGRAPHY
*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,600');

body{
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}
h2{
    font-size: 22px;
    font-weight: 600;
    color: $default-text-color;
}

/*
    DIMENSIONS
*/
.baseGrid{
    max-width: 1240px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
